{% extends 'base.html' %}

{% block content %}
  <h1>Premiums</h1>
{% if user.is_authenticated %}


      <form class="d-flex" role="search" method=POST action="{% url 'searchallpremium' %}">
      {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Vehicle Premium" aria-label="Search" name="searchedpremium" style="width: 200px;">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>



    <h2>All Records on Premiums</h2>
    <a href="{% url 'export_premiums' %}" class="btn btn-primary">Export All to Excel</a>
    <br>

    {% if searched %}
        <h3>Search Results for: "{{ searched }}"</h3>
    {% endif %}
    
    <br/>

    <ul>
        {% for form in forms %}
            <li>
                {{ form.as_p }}
                <!-- Update button with a link to the update view -->
                <a href="{% url 'update_premium' form.instance.pk %}" class="btn btn-primary">Update</a>

                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

                <br/>
                
                  <!-- Display link to the record -->
                <strong>Record URL:</strong> 
                 <a href="{% url 'premiumrecord_detail' form.instance.pk %}" class="btn btn-info">Send Details</a>
          

                <hr>
            </li>
        {% endfor %}
    </ul>

{% else %}
<h2> Please Log In to View Page </h2>
    <a href="{% url 'loginuser' %}">Login Here</a>

{% endif %}


{% endblock %}



