{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>KenGen Motor Insurance</title>
    <style>
        body {
            background-color: #f4f4f4;
            background-image: url('{% static "website/images/baseimage3.png" %}'); /* Path to your background image */
            background-size: cover;
            background-position: center;
            background-attachment: fixed; /* This makes the background stay fixed when scrolling */
        }
    </style>
  </head>
  <body>

    {% include 'navbar.html' %}
<br>
    <div class='container'>
    {% if messages %}
    <br><br>
      {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      {% endfor %}
    {% endif %}

    <br/><br/>
      {% block content %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


      <!-- Footer -->
    <footer>
        <div>
            <span class="text-muted">KenGen Motor Insurance © 2024</span>
        </div>
    </footer>

</body>
</html>
