{% extends 'base.html' %}

{% block content %}

    {% include 'staffvehicle.html' %}

<center>
 <h2>Fill in to Request or Cancel Cover</h2>
<br/>

<form method='POST' action="{% url 'staffvehicleform' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</center>


<!-- {% if user.is_authenticated %}
    <center>
     <h2>Fill in to Request or Cancel Cover</h2>
    <br/>

    <form method="POST" action="{% url 'staffvehicleform' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  
        <button type="submit">Submit</button>
        <br/><br/>

        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>


    </form>

{% else %}


    <center>
     <h2>Fill in to Request or Cancel Cover</h2>
    <br/>

    <form method="POST" action="{% url 'staffvehicleform' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for field in form %}
                {% if field.name != 'status' and field.name != 'dateofcancelorexpiry' %}
                <div style="margin-bottom: 1em;">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endif %}
            {% endfor %}
            </div>


        <button type="submit">Submit</button>
        <br/><br/>

        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </form>
</center>

{% endif %} -->


{% endblock %}