  <h1>Staff Motor</h1>








 <!--       /* Custom styling for the unordered list */
        .vehicle-list {
            list-style-type: none;
            padding: 0;
            margin: 20px 0;
        }

        .vehicle-list li {
            padding: 10px;
            background-color: #f8f9fa;  Light background color 
            border: 1px solid #ddd; Border around each item 
            margin-bottom: 10px;
            font-size: 18px;
        }

        .vehicle-list li a {
             text-decoration: none; Remove underline from links 
            color: #333; 
            display: block;
        }

        .vehicle-list li a:hover {
            background-color: #e2e6ea;
        }
 -->

<!-- <h4>Staff Motor</h4>

    <div class="container mt-5">
        <ul class="vehicle-list">
            <li><a href="{% url 'allstaffvehicle' %}">All Staff Vehicles</a></li>
            <li><a href="{% url 'activestaffvehicle' %}">Active Covers (Staff)</a></li>
            <li><a href="{% url 'cancelledstaffvehicle' %}">Cancelled Covers (Staff)</a></li>
            <li><a href="{% url 'currentstaffvehicle' %}">Current Staff Vehicles</a></li>
            <li><a href="{% url 'managervehicle' %}">Directors/Managers Vehicles</a></li>
            <li><a href="{% url 'exstaffvehicle' %}">Ex-Staff Vehicles</a></li>
            <li><a href="{% url 'exmanagervehicle' %}">Ex-Directors/Managers Vehicles</a></li>
            <li><a href="{% url 'privatevehicle' %}">Private Vehicles</a></li>
            <li><a href="{% url 'commercialvehicle' %}">Commercial Vehicles</a></li>
            <li><a href="{% url 'comprehensivecover' %}">Comprehensive Covers</a></li>
            <li><a href="{% url 'thirdpartycover' %}">Third Party Covers</a></li>
        </ul>
    </div> -->

