{% extends 'base.html' %}

{% block content %}

  <h1>Staff Motor</h1>

{% if user.is_authenticated %}
    <h2>Update Cover Details: {{ vehicle.regno }}</h2>
    <h3> Update Field(s) and Save Changes </h3>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save Changes</button>
        <br/><br/>
    </form>
    <a href="{% url 'allstaffvehicle' %}" class="btn btn-secondary">Cancel</a>

    <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    
    <br/><br/>

      <form method="POST" action="{% url 'delete_staff_vehicle' form.instance.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Vehicle</button>
    </form>


{% else %}
<h2> Please Log In to Update Cover Details. </h2>
    <a href="{% url 'loginuser' %}">Login Here</a>

{% endif %}

{% endblock %}
