{% extends 'base.html' %}

{% block content %}
  <h1>Company Motor</h1>

{% if user.is_authenticated %}

    <h2>Update Vehicle: {{ vehicle.regno }}</h2>
    <h3> Update Field(s) then Save Changes </h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>

        <a href="{% url 'allcompanyvehicle' %}" class="btn btn-secondary">Cancel</a>
    <br/>
    <br/>

      <form method="POST" action="{% url 'delete_company_vehicle' form.instance.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Vehicle</button>
        </form>


{% else %}
<h2> Please Log In to View Page </h2>
    <a href="{% url 'loginuser' %}">Login Here</a>

{% endif %}

{% endblock %}
