{% extends 'base.html' %}

{% block content %}

<h1>Staff Motor</h1>

{% if user.is_authenticated %}
<center>

<h2>Update Cover Details: {{ vehicle.regno }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

<br>
<a href="{% url 'staffvehicleform' %}" class="btn btn-secondary">Cancel</a>
</center>
  <form method="POST" action="{% url 'delete_staff_vehicle' form.instance.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Vehicle</button>
    </form>

{% else %}
<h2> Please Log In to Update Cover Status </h2>
    <a href="{% url 'loginuser' %}">Login Here</a>

{% endif %}

{% endblock %}